<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>메인페이지</h1>
    <%if(user==null){%>
        로그인을 해주세요
        <a href="http://127.0.0.1:5500/0322expressDB/public/Login.html"><button>로그인</button></a>
    <%}else{%>
        현재 로그인한 사람의 정보 : <%= user.id %> <br>
        <a href="http://127.0.0.1:3000/logout"><button>로그아웃</button></a>
    <%}%> 
    
   <a href="http://127.0.0.1:5500/0322expressDB/public/Join.html"><button>회원입력</button></a>
   <a href="http://127.0.0.1:5500/0322expressDB/public/Delete.html"><button>회원삭제</button></a>
   <a href="http://127.0.0.1:5500/0322expressDB/public/Update.html"><button>회원수정</button></a>

   <a href="http://127.0.0.1:5500/0322expressDB/public/select.html"><button>회원검색</button></a>
   <a href="http://127.0.0.1:3000/select"><button>회원전체검색</button></a>



</body>
</html>