<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>PW</th>
            <th>NICk</th>
        </tr>
        <%for(var i=0; i<rows.length; i++){%> 
            <tr>
                <td><%=rows[i].id%></td>
                <td><%=rows[i].pw%></td>
                <td><%=rows[i].nick%></td>
            </tr>
        <%}%>

    </table>
</body>
</html>