<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ex01 EJS파일 생성성공!</h1>
    <!-- HTML 안에서 nodejs코드를 작성 -->
    <%//스크립틀릿 : nodejs코드를 작성할 수 있는 영역
        let num = 10;
    %>
    num변수 안에 있는 값 : <%=num%>

    <% // 1~100까지의 합을 출력하시오.
        for(var i=1;i<=100;i++){
            sum =+ i;
        }
    %> 
    <br>1~100까지의 합 : <%=sum%><!-- 표현식 : nodejs 변수를 출력하는 명령어 -->
    
    <table border="1">
        <tr>
            <!-- 아래의 td태그를 10번 반복하시오. -->
            <!-- EJS변환과정 : EJS -> nodejs -> HTML -->
            <!-- nodejs에서 변환할 때 nodejs코드는 하나로
                                     HTML코드는 response.write로 변환 -->
            <%for(var i=0;i<=parseInt(num1_router);i++){%>
                    
                    <td><%=i%></td>
            <%}%> 
            

        </tr>>
    </table>

    ex01view router 보내주는 변수 값 : <%=num1_router%>

</body>
</html>