<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    입력한 num1값 : <%=num1_router%> <br>
    입력한 num2값 : <%=num2_router%> <br>
    <% if((parseInt(num1_router)+parseInt(num2_router))%2 == 0){%>
        두 수의 합은 짝수입니다.
    <%}else if((parseInt(num1_router)+parseInt(num2_router))%2 != 0){%>
        두 수의 합은 홀수입니다.
    <%}%>  
</body>
</html> 